<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="UI Tests" parallel="methods" thread-count="7">

    <test name="Smoke Tests">
        <classes>
            <class name="tests.InventoryTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.ProductDetailsTest"/>
        </classes>
    </test>

</suite>